
#no-header{
	min-height: calc(100vh - 120px);
}

#hero{
	background: 
		linear-gradient(rgba(0, 0, 50, 0.6), rgba(0, 0, 50, 0.6)),
		url(kaitlyn-baker-vZJdYl5JVXY-unsplash.jpg); 
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
    color: white;
    max-height: 700px;
}



#content {
	text-align: center;
	padding-top: 25%;
	padding-bottom: 20%;
}



h1{
	font-weight: 700;
	font-size: 5em;
}

h3{
	font-weight: 300;
	font-style: italic;
}

hr{
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar{
	width: 100%;
	min-height: 70px;
	color: white;
}



.navbar-brand{
    padding-left: 10px;
    color: white;

}   

#section2{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.card{
	border: solid rgba(0,0,150,0.2);
	height: 200px;
	margin-bottom: 20px;
	padding-top:10px;

}
#icon{
	font-size: 5em;
	margin-top: auto;
}

.intro {
	padding-top: 1em;
	padding-bottom: 1em;
}

.tab-content{
	padding-top: 1em;
}

a {
	color: rgba(0,20,100,.6);
}

a:hover{
	color:rgba(0,20,100,.8);
}

#footer{
	min-height: 120px;
	background-color: rgba(0,0,10,.9);
	text-align: center;
	padding-top: 20px;

	
}
a.footer-link {
	color: white;
	text-decoration: none;
}

a.footer-link:hover{
	color: rgba(100,100,100,.5);
	text-decoration: none;
}

.footer-link{
	padding-left: 3%;
	padding-right: 3%;

}

#legal{
	
	padding-top: 50px;
	padding-bottom: 10px;
	color: rgba(255,255,255,.5);
	text-align: center;
	font-size: small;
}

h2{
	text-align: center;
	margin-top:50px;
	
}



img.phone{
	max-width:50%;
	height: auto;
	border: none;
}

a.body-link{
	color: black;
	text-decoration: none;
}

a.body-link:hover{
	color: rgba(0,0,50,.7);
	text-decoration: none;
}

#page-body{
	text-align:center;
	padding-bottom: 1em;
}

.tab-content{
	text-align: left;
}

.heading{
	text-align:center;

}


img{
	text-align:center;
	width:100%;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 5px;
	margin-top:10px;
	margin-bottom:10px;
}

.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 700px){
.nav-tabs{
	font-size: .7em;
	font-weight: bold;
	}
}


